<% form_tag(process_issues_story_path) do -%>

  <% if flash[:notice]%>
  <p><%= flash[:notice] %></p>
  <% end -%>

  <p>
  <%= submit_tag 'Process tasks' %>
  </p>

 <%= grid(@stories_grid, :allow_showing_all_records => false) do |g|
    g.column :column_name => 'ID', :attribute_name => 'id', :auto_reload => true
	g.column :column_name => 'Pos', :attribute_name => 'position' , :auto_reload => true
	g.column  :column_name => 'Name', :attribute_name => 'name', :auto_reload => true
	g.column  :column_name => 'Visible', :attribute_name => 'visible', :auto_reload => true
	g.column do |story|
		link_to('Edit', edit_story_path(story))
	end
	g.action_column
  end -%>

  <%= submit_tag 'Process tasks' %>

<% end -%>

