<% @page_title = "Subject Delete"%>
<%= link_to("<<Back to list", { :action=>"list", 
								:page => session[:subject_page], 
								:sort => session[:subject_sort], 
								:direction => session[:subject_direction],
								:search => session[:subject_search] }, 
								:class => "back-link") %>
<div class="subject delete">
	<h2>Delete Subject</h2>
	<%= form_for(:subject, :url=>{:action=>"destroy", :id=>@subject.id}) do |f| %>
		<p>Are you sure you want to permanently delete this subject?</p>
		<p class="reference-name"><%= @subject.name %></p>
		<div class="form-buttons">
			<%= submit_tag("Delete Subject") %>
		</div>
	<% end %>
</div>	